.contactmodl {
  padding-top: 20px;
  height: 100px;
}

.getquote {
  padding: 0%;
  height: 40px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-size: 17px;
  font-weight: 500;
}

.to-contact {
  height: 40px;
  width: 40px;
  background: linear-gradient(to right, #ff9800, #ff9800);
  border: none;
}

.contact-form {
  background: rgba(226, 226, 226, 0.442);
  backdrop-filter: saturate(180%) blur(2px);
  height: 450px;
  width: 500px;
  margin: 150px 500px;
  border-radius: 12px;
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(1);
  left: 5px;
}
.inputs {
  margin: 20% 25%;
  height: 30px;
  width: 200px;
}
.please {
  margin: 0%;
  padding: 2px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 700;
  width: 80%;
}
.submit {
  margin: 10px 25%;
  height: 45px;
  width: 200px;
  background-color: #ff9800;
  border-color: #256d8500;
}

.cross {
  margin-left: 85%;
}

.para-cross {
  position: fixed;
  height: 15%;
  margin-bottom: 10%;
}
